extends layout

block content
  #home
    .container
        #home-row.row.justify-content-center.align-items-center
          #home-column.col-md-6
              #home-box.col-md-12.align-self-center
                if username != undefined
                  h1.text-center.text-black Welcome!! #{username}
                  br
                  title=title
                  hr
                  a(href="/lobby"): button.w-100.btn.btn-info(type="button") Lobby page
                  a(href="/users/logout"): button.w-100.btn.btn-danger(type="button") Log Out
                else
                  h1.text-center.text-primary Scrabble With Friends
                  hr 
                  h3.text-center.text-secondary Sign In To Play!!
                  br
                  title=title
                  a(href="/users/login"): button.w-100.btn.btn-primary(type="button") Sign In
                  a(href="/users/register"): button.w-100.btn.btn-warning(type="button") Register
          if username != undefined
            #home-column.col-md-6
              #home-box.col-md-12
                div.justify-content-around
                  h1.text-center.text-black #{username}'s Games
                  for game in myGames
                    b.col-md-8 #{game.User.username}'s Turn - #{game.id}
                    div
                      form.col-md-4(method='POST' action='/api/game/join')
                        input.w-100(type='hidden' id='gid' name='gid' value=game.id)
                        button.btn.btn-success(type='submit') Play
                  
    
                 
    
