extends gamesLayout

block content
  a(href="/lobby"): button.btn.btn-success(type="button") Back To Lobby
  br

  #Game
    .container
      h1= title
      h1 Welcome To Scrabble!! <b> #{username}</b>
      #playerTurn
      #Game-row.row.justify-content-left.align-items-center
        #Game-column.col-md-6
            #Game-box.col-md-12
              #slider
              #wrapper
              #con
              link(rel='stylesheet' href='http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')

      #Game-row.row.justify-content-left.align-items-center
        #slider
        #wrapper
        #gametray
        
    #playerOneScoreContainer
      h3 <b> #{username}</b>
      hr
      #totalScore.text-weight-bold
      #score.text-weight-bold
      br
      button( onclick= "submitTurn('#{}')") Submit
      br
      br
      h3 <em> #{opponentUsername}</em> 
      hr
      #opponentScore
      br
      #valid
      #invalidWord
      #turnSubmitted
      br
      br
      br
      #gameOver
      br
      br
      br
      #Game-box.col-md-4
        #Game-box-scroll
          div#row.justify-content-end
            for result in gameMessages
              div#row
                if result.User != null
                  b.col-md-6 #{result.User.username}
                  div.col-md-6
                    p #{result.body}
            
    div.col-md-4
      form(method='POST' action='/api/game/createGameMessage')
        input(type='text' id='messageBody' placeholder='Send a message' name='messageBody')
        br
        button.btn.btn-primary(type='submit') Send

