extends layout

block content
  a(href="/"): button.btn.btn-danger(type="button") Go Home
  #lobby
    .container
      h3.text-content-center.text-white.pt-5 Lobby Chat
      #lobby-row.row.justify-content-left.align-items-center
          #lobby-column.col-md-6
            #lobby-box.col-md-12
              #lobby-box-scroll
                  p Welcome #{username}

                  div#row.justify-content-end
                    for result in messages
                      div#row
                        if result.User != null
                          b.col-md-6 #{result.User.username}
                          div.col-md-6
                            p #{result.body}
            
            div
              form(method='POST' action='/api/global-message/create')
                  input.w-100(type='text' id='messageBody' placeholder='Send a message' name='messageBody')
                  button.w-100.btn.btn-primary(type='submit') Send
          
          #lobby-column.col-md-6
            #lobby-box.col-md-12
              #lobby-box-scroll
                  div.row.justify-content-around
                    for game in availableGames
                      b.col-md-8 #{game.User.username}'s Game - #{game.id}
                      div
                        form.col-md-4(method='POST' action='/api/game/join')
                          input.w-100(type='hidden' id='gid' name='gid' value=game.id)
                          button.btn.btn-success(type='submit') Join
            div
              form(method='POST' action='/api/game/create')
                button.w-100.btn.btn-success(type='submit') Create Game
